In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Felix\Documents\ANOMALY_MODEL\anomaly_dataset.csv")
df.shape

(10000, 25)

In [3]:
final_columns = ['fee_amount_due', 
                 'amount_paid', 
                 'payment_method', 
                 'is_new_device', 
                 'student_name_match', 
                 'time_since_last_payment_days', 
                 'timestamp', 
                 'student_type',
                'is_anomaly']

final_df = df[final_columns]
final_df.head()

,fee_amount_due,amount_paid,payment_method,is_new_device,student_name_match,time_since_last_payment_days,timestamp,student_type,is_anomaly
0,8529.51,8554.84,Bank,False,True,99,2024-01-18 14:08:00,university,0
1,3716.65,2636.50,Mobile Money,False,True,120,2024-03-04 12:12:00,university,0
2,1276.06,1276.06,Mobile Money,False,True,87,2024-01-09 07:07:00,middle_school,0
3,1589.27,1589.27,Mobile Money,False,True,102,2024-01-03 08:30:00,middle_school,0
4,9940.45,9940.45,Mobile Money,False,True,30,2024-08-05 20:51:00,university,0

In [4]:
training_df = final_df[final_df["is_anomaly"]==0]
training_df.shape

(8000, 9)

In [6]:
# pipeline_build.py
import joblib
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import FunctionTransformer, StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from features import feature_engineering  # import from the new module
import pandas as pd

# Assume training_df is your DataFrame
# Apply feature engineering first
df_fe = feature_engineering(training_df)

# Then create ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('categorical_encode', OneHotEncoder(handle_unknown='ignore', sparse_output=False), ['payment_method']),
        ('numeric_scale', StandardScaler(), [
            'amount_diff', 'log_time_since_last_payment_days', 'sin_hour', 'cos_hour',
            'sin_day', 'cos_day', 'sin_month', 'cos_month', 'amount_ratio'
        ]),
        ('binary_pass', 'passthrough', ['is_new_device', 'student_name_match', 'is_over_payment'])
    ],
    remainder='drop'
)

pipeline_2 = Pipeline([
    ('preprocessor', preprocessor)
])

pipeline_2.fit(df_fe)
joblib.dump(pipeline_2, "main_pipeline.pkl")
print("✅ Pipeline saved successfully")

✅ Pipeline saved successfully

In [10]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import joblib

# Apply feature engineering first
df_fe = feature_engineering(training_df)

# Fit scalers/encoders
numeric_cols = ['amount_diff', 'log_time_since_last_payment_days', 'sin_hour', 'cos_hour',
                'sin_day', 'cos_day', 'sin_month', 'cos_month', 'amount_ratio']
scaler = StandardScaler().fit(df_fe[numeric_cols])
joblib.dump(scaler, "scaler.pkl")

encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False).fit(df_fe[['payment_method']])
joblib.dump(encoder, "encoder.pkl")

['encoder.pkl']